@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@900&display=swap");
@import url("//use.fontawesome.com/releases/v5.0.7/css/all.css");

/* TODO: work on color scheme */
:root {
  --bg-color: #101010;
  --bg-color-alt: #f5f5f5;
  --font-primary: #f5f5f5;
  --font-secondary: #121212;
  --h1-color: #121212;
  --h1-color-stroke: #424242;
  --font-active: #ebc99c;
  --header-color: #f5f5f5;
  --nav-bg-color: #101010;
  --footer-bg-color: #f5f5f5;
  --section-color: #b26646;
}

body {
  overflow-x: hidden;
  background-color: grey;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

/* Header */

header {
  display: flex;
  justify-content: left;
  padding-left: 2rem;
  min-height: 5rem;
  background-color: var(--header-color);
  border-bottom: 1px solid var(--h1-color-stroke);
}

h1 {
  font-family: "Roboto";
  color: var(--h1-color);
  -webkit-text-stroke: 1px var(--h1-color-stroke);
}

/* Navigation */

nav {
  display: flex;
  flex-direction: row;
  min-height: 3rem;
  background-color: var(--nav-bg-color);
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans";
  font-weight: 900;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
  color: var(--font-primary);
  list-style-type: none;
}

li {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

li:hover {
  -moz-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
}

li:active {
  color: var(--font-active);
}

.active {
  color: var(--font-active);
}

/* Main */

section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-content: center;
}

main {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: var(--font-secondary);
  background-color: var(--bg-color);
  padding: 0;
}

.main {
  height: 100vh;
}

/* About Page */

.main-about {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.mission {
  display: flex;
  justify-content: center;
  height: 45%;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 400;
  color: var(--font-secondary);
  background-color: var(--bg-color-alt);
}

.con-1 {
  display: flex;
  height: 55%;
  background-image: url("assets/bg-img.jpg");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: contain;
}

.inner-1 {
  padding: 0.5rem;
}

.inner-1 img {
  width: 30%;
  border-radius: 10rem;
}

.inner-2 {
}

.statement {
  margin-top: 0rem;
}

/* Footer */

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--nav-bg-color);
  height: 2rem;
  color: var(--font-primary);
}

footer p {
  font-family: "Open Sans";
  font-size: 0.5rem;
}

.fa-github {
  margin-left: 0.5rem;
  color: var(--font-primary);
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .main-about {
    font-size: 0.9rem;
  }

  .mission {
    text-align: center;
    font-family: "Open Sans";
    font-weight: 400;
    color: var(--font-secondary);
    background-color: var(--bg-color-alt);
  }

  .con-1 {
  }

  .inner-1 {
    padding: 0.5rem;
  }

  .inner-1 img {
    width: 30%;
    border-radius: 10rem;
  }
}

@media screen and (min-width: 375px) and (max-width: 539px) {
  .mission {
    text-align: center;
    font-family: "Open Sans";
    font-weight: 400;
    color: var(--font-secondary);
    background-color: var(--bg-color-alt);
  }

  .inner-1 {
    padding: 0.5rem;
  }

  .inner-1 img {
    width: 30%;
    border-radius: 10rem;
  }

  .con-1 {
  }
}

@media screen and (min-width: 540px) and (max-width: 1023px) {
  .main-about {
    background-position: left center;
  }

  .mission {
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-family: "Open Sans";
    font-weight: 400;
    color: var(--font-secondary);
    background-color: var(--bg-color-alt);
  }

  .inner-1 {
    padding: 0.5rem;
    width: 40%;
  }

  .inner-1 img {
    width: 100%;
    border-radius: 10rem;
  }

  .inner-2 {
    width: 50%;
  }

  .con-0 {
  }
}

@media screen and (min-width: 1023px) and (max-width: 1111px) {
  .content {
    margin: auto;
  }

  .main-about {
    background-position: left center;
  }

  .mission {
    text-align: left;
    font-family: "Open Sans";
    font-weight: 400;
    color: var(--font-primary);
  }

  .con-0 {
  }
}

@media screen and (min-width: 1112px) {
  .content {
    margin: auto;
    width: 80%;
  }

  .main-about {
    flex-direction: row;
    background-position: left center;
  }

  .mission {
    text-align: left;
    font-family: "Open Sans";
    font-weight: 400;
    color: var(--font-primary);
  }

  .con-0 {
    width: 40%;
  }
}
