@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@900&display=swap");
@import url("//use.fontawesome.com/releases/v5.0.7/css/all.css");

:root {
  --bg-color: #101010;
  --font-primary: #b26646;
  --font-secondary: #f5f5f5;
  --font-tertiary: #424242;
  --header-color: #f5f5f5;
  --nav-bg-color: #101010;
  --section-color: #b26646;
}

.content {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
  /* background-color: var(--bg-color); */
}

/* Header */

header {
  display: flex;
  justify-content: center;
  min-height: 5rem;
  background-color: var(--header-color);
  border-bottom: 1px solid var(--section-color);
}

h1 {
  color: var(--font-secondary);
}

/* Navigation */

nav {
  display: flex;
  flex-direction: row;
  min-height: 3rem;
  background-color: var(--nav-bg-color);
  border-bottom: 1px solid var(--section-color);
}

header img {
  min-width: 320px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans";
  font-weight: 900;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
  color: var(--font-primary);
  list-style-type: none;
}

li {
  transition: all 0.3s ease-in-out;
}

li:hover {
  -moz-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
}

/* Main */

section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-content: center;
}

main {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  color: var(--font-secondary);
}

.main {
  height: 110vh;
}

.main-home {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  background-color: var(--bg-color);
  background-image: url("../assets/bg-img.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.col-left {
  order: 2;
}

.col-right {
  order: 1;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 400;
  color: var(--font-primary);
  margin: 1rem;
}

/* .colLeft,
img {
  width: 75%;
  background: no-repeat;
} */

/* .bg-img {
  border-right: 1px solid var(--section-color);
} */

/* Footer */

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--nav-bg-color);
  height: 2rem;
  color: var(--font-secondary);
  border-top: 1px solid var(--section-color);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  header img {
    max-width: 360px;
  }

  .main-home {
    flex-direction: row;
    background-position: left center;
  }

  .main {
    height: 0vh;
  }

  .col-left {
    width: 50%;
    order: 1;
  }

  .col-right {
    order: 2;
    width: 50%;
    text-align: left;
    font-family: "Open Sans";
    font-weight: 400;
    color: var(--font-primary);
  }
}

@media screen and (min-width: 1024px) {
  header img {
    max-width: 360px;
  }

  .main {
    height: 0vh;
  }

  .main-home {
    flex-direction: row;
    background-position: left center;
  }

  .col-left {
    width: 50%;
  }

  .col-right {
    width: 50%;
    text-align: left;
    font-family: "Open Sans";
    font-weight: 400;
    color: var(--font-primary);
  }
}
